@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  margin: 0;
  font-family: "Syne", sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #000;
}


@layer base {
  @font-face {
    font-family: "incompleeta";
    src: local("IncompleetaRegular"),
    url('./assets/fonts/IncompleetaRegular.ttf') format("truetype");
  }
}