@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Syne", sans-serif;
}

/* body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #dfdff0;
  font-family: "General Sans", sans-serif;
} */

@layer base {
  @font-face {
    font-family: "incompleeta";
    src: local("IncompleetaRegular"),
    url('./assets/fonts/IncompleetaRegular.ttf') format("truetype");
  }
}